.persona {
    background-color: antiquewhite;
    border: 5px solid black;
    border-radius: 30px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 790px) {
    .persona {
        font-size: 18px;
    }
}